<div class="container_article">
    <div class="article">
        <div class="top">
            Published at {{date}} by <strong>{{Articledoc.ownerUserName}}</strong>
        </div>
        <div class="title">
            <h2>{{Articledoc.title}}</h2>
        </div>
        <div class="content">
           {{Articledoc.review}}
        </div>
        <div class="rating">
            <div>
                <span>Rating:</span>{{Articledoc.rating}}
            </div>
        </div>
    </div>

    <div class="user_reviews">
        <div class="user_reviews_wrapper">
            {{#each UserReview}}
            <h3>User reviews:</h3>

            <div class="item">
                <div class="username">USERNAME - {{this.ownerUserName}} <span> Rating: {{this.rating}}</span></div>
                <div class="user_r">
                   {{this.review}}
                </div>
            </div>
            {{/each}}

        </div>
        <div class="user_add_reviews_wrapper">
            {{#if review}}
            <h3>Add your review</h3>
            <form id="user_review" data-id="{{Articledoc._id}}">
                <div>
                    <input type="hidden" id="titlePost" name="titlePost" value="{{Articledoc.title}}">
                </div>
                <div>
                    <input type="text" id="rating" name="rating" placeholder="Add your rating form 1 to 10">
                </div>
                <div>
                    <textarea id="review" name="review" placeholder="Add your awesome review"></textarea>
                </div>
                <button>Add review</button>
            </form>
            {{else}}
            <div class="register">
                <a href="/login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Log in to add a review</a>
            </div>
            {{/if}}

        </div>
    </div>


</div>




<script>
    $("#user_review").validate({
        rules: {
            review: "required",
            rating: {
                required: true,
                number: true,
                max: 10
            }
        },
        messages: {
            review: "Please enter a review",
            rating: {
                required: "Please enter a rating",
                number: "Please enter a number"
            }
        },
        submitHandler: function (form, event) {
            event.preventDefault();
            postData();
        }
    });

   function postData(){

    const user_Review={
        id:$('#user_review').data('id'),
        review:$('#review').val(),
        rating:$('#rating').val(),
        titlePost:$('#titlePost').val()
    };

    $.ajax({
        type:'POST',
        url:'/api/user_review',
        data:JSON.stringify(user_Review),
        contentType:'application/json',
        success:function(){
            window.location.reload(false);
        },
        error:function(){
            alert('Problem');
        }
    });

   }

</script>